
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


:root {
  --mainColor: black;
  --backdropColor: white;
  --safeAreaBtm: env(safe-area-inset-bottom);
  --safeAreaTop: env(safe-area-inset-top);
  --borders: rgba( 255, 255, 255, 0.18 );
}

html, body {
  /* height: 100vh; */
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}


#App {
  text-align: center;
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#Head{
  position: fixed;
  display: flex;
  top: 0vh;
  width: 100%;
  height: 50px;
  /* background-color: var(--backdropColor); */
  border-bottom: 1px solid var(--borders);
  z-index: 10;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  font-size: 24px;
  box-shadow: 0px 0px 5px rgb(0,0,0,0.2);
}

input[type=text] {
  color: var(--mainColor);
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  border: none;
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  padding-left: 4px;
}

input[type=text]:focus {
  border: 0px;
  outline: none;
}

canvas{
  position: fixed;
  left: 0;
  top: 0;
}

#SearchBar {
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  color: var(--mainColor);
  width: 80%;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgb(0,0,0,0.2);
  border: 1px solid rgba( 255, 255, 255, 0.18 );  z-index: 10;
  display: flex;
  height: 35px;
  position: relative;
  top: 25%;
  max-width: 900px;
  transition: box-shadow 0.05s, opacity 0.5s, backdrop-filter 0.5s, top 1.5s, padding 0.25s;
  /* background-color: white; */
  /* opacity: 0.5; */
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  z-index: 100;
}

#SearchBar > input {
  font-family: 'IBM Plex Mono', monospace;
  /* font-weight: bold; */
}

#SearchBar:before{

}



.bookmarkHeader {
  font-size: 16px;
  /* color: red; */
  max-height: 60px;
  overflow: hidden;
  margin: 0px 0px 5px 0px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
}

#SearchBar:focus-within {
  box-shadow: 0px 0px 15px rgb(0,0,0,0.4);
  backdrop-filter: blur(10px) brightness(200%);
  padding-bottom: 0px;
}
/* #SearchBar:hover{
  backdrop-filter: blur(5px) brightness(110%);
  box-shadow: 0px 0px 10px rgb(0,0,0,0.4);
} */

#vShell{
  position: absolute;
  width: 100%;
  height: 100%;
}

.datumPike {
  /* width: 0;
  height: 0; */
  /* display: flex; */
  /* overflow: visible;
  */
  align-items: center;
  justify-content: center;
  position: absolute;
  visibility: hidden;
  padding: 0;
  margin: 0;
  transition: left 1.25s, top 1.25s;
}

.datumPike:hover{
  z-index: 10;
}

.datumPike div{
  visibility: visible;
}

.bookmarkBox {
  margin: 0px;
  padding: 5px;
  background-color: rgba(255,255,255,0.2);
  /* border-radius: 5px; */
  top: 50%;
  left: 50%;
  -webkit-transform: translate(0%, -50%);
  border: 1px solid black;
  display: block;
  box-sizing: border-box;
  overflow: hidden;
  text-align: left;
  transition: box-shadow 0.25s, opacity 0.5s, backdrop-filter 0.5s, max-width 1.25s, max-height 1.25s, fontSize 1s;
  backdrop-filter: blur(5px) brightness(200%);
}

.bookBody {
  font-size: 10px;
}

.bookMarkGlyph {
  max-width: 100%;
  /* max-height: 100px; */
}
.bookmarkBox:hover {
  z-index: 100;
  box-shadow: 0px 0px 15px rgba(0,0,255,.2);
  backdrop-filter: blur(3px) brightness(300%);
  /* display: block; */
}

#VoronoiContainer {
  height: 100vh;
  width: 100%;
  position: absolute;
  border: 5px solid red;
}

@media screen and (max-width: 500px) /* Mobile */ {
  :root {

  }

  #SearchBar {
    height: 45px;
    bottom: 0;
    width: 100%;
    border-radius: 0px;
    position: fixed;
    /* height: calc( 35px +  ); */
    padding-bottom: var(--safeAreaBtm);
    top: auto;
  }

  #SearchBar:focus-within {
    box-shadow: 0px 0px 15px rgb(0,0,0,0.4);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    padding-bottom: 0px;
  }


  #VoronoiContainer {
    height: calc( 100vh - var(--safeAreaBtm) - 47px );
    top: 0;
  }

}
